name: linuxserver-piper
services:
  app:
    image: linuxserver/piper:2.1.2
    restart: unless-stopped
    environment:
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
      PIPER_VOICE: ''
      LOCAL_ONLY: ''
      PIPER_LENGTH: ''
      PIPER_NOISE: ''
      PIPER_NOISEW: ''
      PIPER_SPEAKER: ''
      STREAMING: ''
    x-casaos:
      envs:
        - container: PUID
          description:
            en_us: Run 'id [USER]' for the owner of the host volume directories to get the UID to use here.
        - container: PGID
          description:
            en_us: Run 'id [USER]' for the owner of the host volume directories to get the GID to use here.
        - container: TZ
          description:
            en_us: specify a timezone to use, see this list.
        - container: PIPER_VOICE
          description:
            en_us: The Piper voice to use, in the format --
        - container: LOCAL_ONLY
          description:
            en_us: If set to true, or any other value, the container will not attempt to download models from HuggingFace and will only use locally-provided models. [OPTIONAL]
        - container: PIPER_LENGTH
          description:
            en_us: Voice speaking rate, 1.0 is default with  1.0 being slower. [OPTIONAL]
        - container: PIPER_NOISE
          description:
            en_us: Controls the variability of the voice by adding noise. Values above 1 will start to degrade audio. [OPTIONAL]
        - container: PIPER_NOISEW
          description:
            en_us: Controls the variability of speaking cadence. Values above 1 produce extreme stutters and pauses. [OPTIONAL]
        - container: PIPER_SPEAKER
          description:
            en_us: Speaker number to use if the voice supports multiple speakers. [OPTIONAL]
        - container: STREAMING
          description:
            en_us: Setting to true, or any other value, will enable support for streaming audio on sentence boundaries. [OPTIONAL]
    ports:
      - target: 10200
        published: 10200
        protocol: tcp
    volumes:
      - type: bind
        source: /srv/lsio/piper/config
        target: /config
x-casaos:
  architectures:
    - amd64
    - arm64
  main: app
  description:
    en_us: Piper is a fast, local neural text to speech system that sounds great and is optimized for the Raspberry Pi 4. This container provides a Wyoming protocol server for Piper.
  tagline:
    en_us: A fast, local neural text to speech system that sounds great and is optimized for the Raspberry Pi 4. This container provides a Wyoming protocol server for Piper.
  developer: LinuxServer.io
  author: WisdomSky
  icon: https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/piper-logo.png
  thumbnail: https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/piper-logo.png
  title:
    en_us: Piper
  category: LinuxServer.io
