name: linuxserver-sickgear
services:
  app:
    image: linuxserver/sickgear:3.30.4
    restart: unless-stopped
    environment:
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
    x-casaos:
      envs:
        - container: PUID
          description:
            en_us: for UserID
        - container: PGID
          description:
            en_us: for GroupID
        - container: TZ
          description:
            en_us: specify a timezone to use, see this list.
      volumes:
        - container: /config
          description:
            en_us: Appdata
        - container: /tv
          description:
            en_us: Path to TV shows - /tv
        - container: /downloads
          description:
            en_us: Path to downloads - /downloads
      ports:
        - container: '8081'
          description:
            en_us: Webui - Default 8081
    ports:
      - target: 8081
        published: 8081
        protocol: tcp
    volumes:
      - type: bind
        source: /DATA/AppData/sickgear/config
        target: /config
      - type: bind
        source: /DATA/AppData/sickgear/tv
        target: /tv
      - type: bind
        source: /DATA/AppData/sickgear/downloads
        target: /downloads
x-casaos:
  architectures:
    - amd64
    - arm64
  main: app
  description:
    en_us: 'Visit homepage: https://hub.docker.com/r/linuxserver/sickgear/'
  tagline:
    en_us: 'Provides management of TV shows and/or Anime, it detects new episodes, links downloader apps, and more. . For more information on SickGear visit their website and check it out: https://github. Com/SickGear/SickGear'
  developer: LinuxServer.io
  author: WisdomSky
  icon: https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/sickgear-logo.png
  thumbnail: https://raw.githubusercontent.com/wiki/SickGear/SickGear.Wiki/images/SickGearLogo.png
  title:
    en_us: Sickgear
  category: LinuxServer.io
  project_url: https://github.com/SickGear/SickGear
  port_map: '8081'
original_name: LinuxServer-sickgear
