name: Deluge
services:
  app:
    image: linuxserver/deluge:2.1.1
    restart: unless-stopped
    environment:
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
      DELUGE_LOGLEVEL: ''
    x-casaos:
      envs:
        - container: PUID
          description:
            en_us: for UserID
        - container: PGID
          description:
            en_us: for GroupID
        - container: TZ
          description:
            en_us: specify a timezone to use, see this list.
        - container: DELUGE_LOGLEVEL
          description:
            en_us: set the loglevel output when running Deluge, default is info for deluged and warning for delgued-web
    ports:
      - target: 8112
        published: 8112
        protocol: tcp
      - target: 6881
        published: 6881
        protocol: tcp
      - target: 6881
        published: 6881
        protocol: udp
    volumes:
      - type: bind
        source: /DATA/AppData/deluge/config
        target: /config
      - type: bind
        source: /DATA/AppData/deluge/downloads
        target: /downloads
x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  main: app
  description:
    en_us: 'Visit homepage: https://hub.docker.com/r/linuxserver/deluge/'
  tagline:
    en_us: A lightweight, Free Software, cross-platform BitTorrent client. * Full Encryption * WebUI * Plugin System * Much more...
  developer: LinuxServer.io
  author: WisdomSky
  icon: https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/deluge-icon.png
  thumbnail: https://avatars2.githubusercontent.com/u/6733935?v=3&s=200
  title:
    en_us: Deluge
  category: File Management
  port_map: '8112'
