name: linuxserver-bitcoin-knots
services:
  app:
    image: linuxserver/bitcoin-knots:version-29.3.knots20260210-noble1
    restart: unless-stopped
    environment:
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
    x-casaos:
      envs:
        - container: PUID
          description:
            en_us: Run 'id [USER]' for the owner of the host volume directories to get the UID to use here.
        - container: PGID
          description:
            en_us: Run 'id [USER]' for the owner of the host volume directories to get the GID to use here.
        - container: TZ
          description:
            en_us: specify a timezone to use, see this list.
    ports:
      - target: 3000
        published: 3000
        protocol: tcp
      - target: 3001
        published: 3001
        protocol: tcp
      - target: 8333
        published: 8333
        protocol: tcp
    volumes:
      - type: bind
        source: /srv/lsio/bitcoin-knots/config
        target: /config
x-casaos:
  architectures:
    - amd64
    - arm64
  main: app
  description:
    en_us: Bitcoin Knots can be used as a desktop client for regular payments or as a full node server utility for merchants and other payment services.
  tagline:
    en_us: Can be used as a desktop client for regular payments or as a full node server utility for merchants and other payment services.
  developer: LinuxServer.io
  author: WisdomSky
  icon: https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/bitcoin-knots-logo.png
  thumbnail: https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/bitcoin-knots-logo.png
  title:
    en_us: Bitcoin knots
  category: LinuxServer.io
