name: linuxserver-nzbget
services:
  app:
    image: linuxserver/nzbget:25.4.20260123
    restart: unless-stopped
    environment:
      PUID: $PUID
      PGID: $PGID
      TZ: $TZ
      NZBGET_USER: ''
      NZBGET_PASS: ''
    x-casaos:
      envs:
        - container: PUID
          description:
            en_us: Run 'id [USER]' for the owner of the host volume directories to get the UID to use here.
        - container: PGID
          description:
            en_us: Run 'id [USER]' for the owner of the host volume directories to get the GID to use here.
        - container: TZ
          description:
            en_us: specify a timezone to use, see this list.
        - container: NZBGET_USER
          description:
            en_us: Specify the user for web authentication. [OPTIONAL]
        - container: NZBGET_PASS
          description:
            en_us: Specify the password for web authentication. [OPTIONAL]
    ports:
      - target: 6789
        published: 6789
        protocol: tcp
    volumes:
      - type: bind
        source: /srv/lsio/nzbget/config
        target: /config
      - type: bind
        source: /srv/lsio/nzbget/downloads
        target: /downloads
x-casaos:
  architectures:
    - amd64
    - arm64
  main: app
  description:
    en_us: Nzbget is a usenet downloader, written in C++ and designed with performance in mind to achieve maximum download speed by using very little system resources.
  tagline:
    en_us: A usenet downloader, written in C++ and designed with performance in mind to achieve maximum download speed by using very little system resources.
  developer: LinuxServer.io
  author: WisdomSky
  icon: https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/nzbget-banner.png
  thumbnail: https://raw.githubusercontent.com/linuxserver/docker-templates/master/linuxserver.io/img/nzbget-banner.png
  title:
    en_us: Nzbget
  category: LinuxServer.io
